.carouselContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  
}

.keenSlider {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
}


/* dooooots */
.dots {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(117, 0, 0, 0.2);
  border-radius: 50%;
  transition: width 0.3s ease;
}

.active {
  background-color: var(--red);
}
