.gallerySection {
  width: 100%;
  height: fit-content;
  min-height: 50vh;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.galleryHeader {
  width: 100%;
  min-height: 20vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto 0;
}
.gallerySlider {
  width: 100%;
  margin: 4vh auto;
}
