.h2 {
    color: var(--red);
    font-family: "Crimson Text", serif;
    font-size: clamp(2rem, 4vw, 2.4rem);
    font-style: italic;
    font-weight: 600;
    line-height: 31.2px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  
  .p {
    font-family: "Inter", sans-serif;
    font-size: clamp(3.5rem, 4vw, 6rem);
    font-weight: 400;
    line-height: 72.61px;
    text-align: center;
    margin: 3% auto;
  }
  .img{
    width: 5%;
    height: 5%;
    max-width: 8.5rem;
    max-height: 8.5rem;
    margin: 3% auto;
  }
  
  @media (min-width: 220px) and (max-width: 768px) {
    .img{
      display: none;
    }
    
  }