.reservationForm {
  padding: 2rem;
  width: 100%;
  min-height: fit-content;
  margin: 0 auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.reservationForm label {
  /*  */
  display: block;
  font-size: 1rem;
  opacity: 0.7;
  font-weight: 500;
  width: 100%;
  text-align: left;
  line-height: 1.4rem;
  background: #fff;
  border-top: 1px solid var(--beij);
  padding: 0.9rem 1.2rem;
  margin: 1rem 0 0.5rem;
  color: var(--black);
  font-family: "Inter", sans-serif;
  box-shadow: 0 1px 0 rgba(61, 52, 1, 0.1), 0 1.5px 0 rgba(52, 39, 1, 0.12),
    0 2px 0 rgba(60, 41, 1, 0.13);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input {
  width: 100%;
  padding: 0.8rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
input:focus {
  outline: none;
}

.reservationForm button {
  background-color: var(--red);
  width: 60%;
  color: var(--beij);
  padding: 1.6rem 3.2rem;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 28px;
  text-align: center;

  font-size: clamp(1.5rem, 4vw, 2rem);
  box-shadow: 0 1px 0 rgba(61, 52, 1, 0.1), 0 1.5px 0 rgba(52, 39, 1, 0.12),
    0 2px 0 rgba(60, 41, 1, 0.13);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  font-family: Inter;
}

.reservationForm button:hover {
  background-color: #a52a2a;
}
.datePickerInput {
  width: 100%;
  position: relative;
}
