.testimonialSection {
  width: 100%;
  min-height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.testimonialHeader {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto 0;
}
.testimonialSlider {
  width: 100%;
  margin: 4vh auto;
}
