.menuGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 2rem 0;
  width: 100%;
  min-height: fit-content;
  height: fit-content;
}
@media (min-width: 220px) and (max-width: 768px) {
  .menuGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
