/*crimson*/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --red: #791315;
  --black: #202020;
  --white: #f1f1f1;
  --beij: #f6de98;
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
}

.yllaaaMiniHeader {
  font-size: clamp(1.5rem, 4vw, 2.4rem);
  font-weight: 600;
  letter-spacing: 5%;
  line-height: clamp(1.9rem, 4vw, 3.1rem);
  color: var(--red);
  font-family: "Crimson Text", serif;
  margin-bottom: 2%;
}
.yllaaaLargeHeader {
  font-size: clamp(4rem, 4vw, 6rem);
  color: var(--black);
  font-weight: 400;
  line-height: clamp(4.8rem, 4vw, 7.2rem);
  font-family: "Inter", sans-serif;
  text-align: start;
  margin-bottom: 2%;
}
.yllaaaParagraph {
  font-size: clamp(1.6rem, 4vw, 1.8rem);
  color: var(--black);
  font-weight: 400;
  line-height: clamp(1.9rem, 4vw, 2.1rem);
  font-family: "Inter", sans-serif;
  text-align: start;
  padding-top: 2vw;
  margin-bottom: 2%;
}
/* pages section */

.yllaaaSection {
  width: 86%;
  position: relative;
  height: fit-content;
  /* height: 70rem; */
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* ios and mac */
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.yllaaaP6 {
  padding-top: 6rem;
}
.yllaaaFindUsSection {
  width: 100%;
  height: fit-content;
  /* min-height: 70rem; */
  overflow: hidden;
  margin: 5vh auto 10vh auto;
}
.yllaaaFindUsSectionAbout {
  width: 100%;
  height: fit-content;
  /* min-height: 70rem; */
  overflow: hidden;
  margin: 0vh auto 10vh auto;
}

.yllaaaFindSection {
  width: 86%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.yllaaaFindUsImgSection {
  width: 100vw;
  height: 55vh;
  min-height: 40rem;
  margin: 0;
}

.yllaaaFindUsImgSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 220px) and (max-width: 768px) {
  .yllaaaSection {
    width: 92%;
    min-height: fit-content;
    padding-bottom: 5rem;
  }
  .yllaaaFindSection {
    width: 92%;
    min-height: fit-content;
    padding-bottom: 0rem;
  }

  .yllaaaFindUsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    margin: 0vh auto 10vh auto;
  }

  .yllaaaP6 {
    padding-top: 0rem;
  }
  .yllaaaP6R {
    padding-top: 4rem;
  }
}
